body {
/*  background-color: #F3F3F3;*/

/*  color: #303030;*/
  color: #555555;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

a:hover {
  border-bottom: 1px dotted #b30000;
}

a {
  color: #b30000;
  text-decoration: none;
}

.pull-left > *:last-child {
  border-bottom: 0;
}

.clear-fix {
  clear: both;
}

#top-header {
  color: #7a7a7a;
  width: 700px;
  padding: 15px 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 0px 10px #ccc;
  border-bottom: 1px solid #aaa;
  line-height: 2em;
}

#top-header .logo {
  float: left;
}

#top-header .logo h1, 
#top-header .logo h2 {
  margin: 0;
}

#top-header .logo h1 {
  color: #b30000;
  font-size: 1.4em;
}

#top-header .logo h2{
  font-size: 1em;
  font-weight: 300;
}

#top-header nav {
  float: right;
}

#top-header nav li a {
  text-decoration: none;
  color: inherit;
  
}

#top-header nav ul, nav li {
  padding: 0;
  list-style: none;
}

#top-header nav li {
  display: inline-block;
  margin-left:40px;
  font-size: .9em;
  font-weight: 300;
}

.main .inner-content {
  width: 700px;
  margin: 0 auto;
  padding: 40px 0px;
  font-size: 1.1em;
  line-height: 2em;
}

#top-header .inner-content {
  width: 700px;
  margin: 0 auto;
}


/* SECTION HEADERS */

.main header {
  text-align: center;
}

.main header h1 {
  text-align: center;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  margin-bottom: 40px;
  font-size: 42px;
  padding-bottom: 10px;
  font-weight: 300;
}

#resume h3 {
  margin: 0;
  padding: 0;
}

#resume .employer {
  color: #b30000;
}

#resume .employment {
  padding: 20px 0 10px;
}

.job-title {
  float:left;
}

.job-date {
  float:right;
  font-size: .9em;
}

.clear-fix {
  clear: both;
}

.main .bg-green header h1 {
  border-bottom: 1px solid #333;

}

.main .bg-green {
  background-color: #eee;
  color: #333;
}

.bg-lightGreen {
  background-color: #CCC;
}

.contact {
  text-align: center;
}

.contact ul, .skills ul {
  margin: 0;
  padding: 0;
}

.contact li {
  list-style: none;
  margin-bottom: 30px;
}

.skills li {
  list-style: none;

}

footer {
  background-color: #585858;
  color: #eee;
  text-align: center;
  padding: 20px 0;
  font-size: .9em;
  font-weight: 300;
}

footer span {
  font-size: .8em;
}

@media (max-width: 800px) { 
  .main .inner-content,
  #top-header .inner-content {
    width: 90%;
  }
 }

